{% load static %}

<title>
    마이페이지
</title>

<link rel ='stylesheet' type='text/css' href='{% static "mypageView.css" %}'>

<body>
    <head>
        <form>
            <input type = 'text' placeholder = "검색할 내용을 입력하세요." />
            <button type = 'button' onclick = 'alert("로그인을 눌렀습니다.")'>
                로그인
            </button>
            <button type = 'button' onclick = 'alert("회원가입을 눌렀습니다.")'>
                회원가입
            </button>
        </form>
    </head>

    <div class = 'wrapper'>
        <div id = 's_left_top'>하나</div>
        <div id = 's_left_bottom'>둘</div>
        <div id = 's_right'>셋</div>
    </div>
</body>
