        /*search*/
        div#search {
            margin: 0 auto;
            text-align: center;
            width: 60%;
        }

        div#search input {
            width: 80%;
            height: 50px;
        }

        div#search button {
            background:#e0c0a0;
            color:#fff;
            border:none;
            width: 15%;
            height: 55px;
            margin-top: 2.5%;
        }

        /*videolist*/
        div#list {
            margin: 0 auto;
            width: 90%;

        }

        div#list div.title {
            padding-left: 1.125%;
            padding-top: 5%;
            width: 100%;
            overflow: auto;
        }
        div#list div.title button {
            background:#e0c0a0;
            color:#fff;
            border:none;
            width: 5%;
            padding-top: 0.5%;
            padding-bottom: 0.5%;
        }
        div#list div.title h3 {
            width: 92.65%;
            float: left;
        }
        div#search button.btn-1{
            background:#e0c0a0;
            color:#fff;
            border:none;
            position:relative;
            height:60px;
            font-size:1.6em;
            padding:0 2em;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
        }
        /*
        div#list div.title h3 {
            margin-bottom: 1%;
            font-size: 130%;
        }
        */
        div#list div.videoList {
            text-align: center;
            padding-bottom: 5%;
            overflow: auto;
        }

        div#list div.videoInfo {
            width: 25%;
            float: left;
            text-align: center;
        }

        div#list div.videoInfo img {
            width: 90%;
            height: auto;
            cursor:pointer;
        }

        /*table*/
        /*
        div#table {
            overflow: auto;
            margin: 0 auto;
            width: 90%;
        }
        */

        div#table{
            overflow: auto;
            padding-bottom: 5%;
        }

        div#table div.title {
            width: 20%;
            padding-left: 15%;
            padding-right: 15%;
            float: left;
            text-align: center;
        }
        
        div#table div.user {
            width: 40%;
            margin: 0 auto;
            float: left;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
        }
        
        div#table div.channel {
            width: 40%;
            margin: 0 auto;
            float: left;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
        }
        /*
        div#table table {
            width: 90%;
            margin-left: 5%;
            font-size: 130%;
            border: 1px solid;
        }
        */