
div#mytable{
    float: left;
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    overflow: auto;
    text-align: center;
}
div#mytable div.title {
    width: 20%;
    padding-left: 40%;
    padding-right: 40%;
    float: left;
    text-align: center;
}

div#mytable div.score {
    width: 90%;
    margin: 0 auto;
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

div#mytable div.myvideo {
    width: 90%;
    margin: 0 auto;
    float: left;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

div#upload{
    
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    overflow: auto;
    text-align: center;
}

div#upload div.title{
    width: 20%;
    padding-left: 40%;
    padding-right: 40%;
    float: left;
    text-align: center;
}

div#upload th{
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

div#upload button {
    font-weight: bold;
    color: #fff;
    background: #73685d;
    border:none;
    width: 50%;
    height: 5vh;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}