#sec_1{
    margin: 0px auto;
    padding: 100px, 50px;
    text-align: center;
}
#s_left{
    display: inline-block;
    text-align:center;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: lighter;
    font-size: 20px;
    margin: 10px;
}
h3{
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: lighter;
    font-size: 20px;
}
#s_right{
    display: inline-block;
    text-align:center;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: lighter;
    font-size: 20px;
    margin: 10px;
}
#s_bottom{
    text-align:center;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: lighter;
}
#s_bbottom{
    text-align:center;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: lighter;
    margin: 100px;
}
