#sec_1 {
    display: flex;
    margin: 30px 100px;
    justify-content: center;
}
#s_left {
    text-align: center;
    font-family:'Malgun Gothic';
    font-weight: lighter;
    font-size: 30px;
    margin: 10px;
}
h3 {
    font-family:'Malgun Gothic';
    font-weight: lighter;
    font-size: 30px;
    text-align: left;
}

h4 {
    margin: 10px 110px 10px 110px;
    display: inline-block;
    font-size: 30px;
    font-family:'Malgun Gothic';
    font-weight: lighter;
    position: relative;
}

h5 {
    font-family:'Malgun Gothic';
    font-weight: lighter;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

#s_right {
    display: inline-block;
    text-align: center;
    font-family:'Malgun Gothic';
    font-weight: lighter;
    font-size: 30px;
    margin: 10px;
}
#s_bottom {
    text-align: center;
    font-family:'Malgun Gothic';
    font-weight: lighter;
}
#s_bbottom {
    text-align: center;
    font-family:'Malgun Gothic';
    font-weight: lighter;
    margin: 200px;
}

#box {
    background-color: #ffffe4;
    margin: 10px 300px 10px 300px;
    padding: 15px;
    border-radius: 10px;
}

#description {
    text-align: center;
    font-size: 40px;
}

