<html>

{% load static %}

<html lang="ko">
<head>
    <style>
        form {
            display: inline;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if request.user.is_authenticated %}
    <input type="button" value="홈으로" onClick="location.href='{% url 'main' %}'"/>
    <form action="{% url 'search'%}" method="GET">
        <!--{% csrf_token %}-->
        <input type="text" name="q" size="50" value="{{ q }}">
        <input type="submit" value="검색">
    </form>
    <form action="{% url 'logout'%}" method="GET">
        <input type="submit" value="로그아웃" onclick = 'alert("로그아웃")'>
    </form>
    <form action="{% url 'mypageView'%}" method="GET">
        <input type="submit" value="마이페이지">
    </form>
    {% else %}
    <form action="{% url 'search'%}" method="GET">
        <!--{% csrf_token %}-->
        <input type="text" name="q" size="50" value="{{ q }}">
        <input type="submit" value="검색">
    </form>
    <form action="{% url 'login'%}" method="GET">
        <input type="submit" value="로그인">
    </form>
    <form action="{% url 'signup'%}" method="GET">
        <input type="submit" value="회원가입">
    </form>
    
    {% endif %}
    {% block content %}
    {% endblock %}


    {% block extrascripts %}{% endblock extrascripts %}
</body>

</html>