
<html>
<head>
    <style>
        form {display: inline;}
    </style>
</head>
<body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'search'%}" method="GET">
    <!--{% csrf_token %}-->
        <input type="text" name="q" size="50" value="{{ q }}">
        <input type="submit" value="검색">
    </form>
    <form action="{% url 'search'%}" method="GET">
        <input type="submit" value="로그인">
    </form>
    <form action="{% url 'search'%}" method="GET">
        <input type="submit" value="회원가입">
    </form>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

