{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="hero-area">
    <img class="img-responsive" src="{% static 'background.png' %}" alt="" style="width: 100%;">
</section>
<div id="search">
    <form action="{% url 'search'%}" method="GET">
        <input type="text" name="q" value="{{ q }}" placeholder="검색할 내용을 입력하세요.">
        <button type="submit">검 색</button>
    </form>
</div>
<div id="list">
    <div class="title">
        <h3><span>인기</span>영상</h3>
        <form action="{% url 'search'%}" method="GET">
            <input type="hidden" name="where" value="pop">
            <button type="submit">더보기</button>
        </form>
    </div>
    <div class="videoList">
        {% for x in pop %}
        <div class="videoInfo">
            <img src="{{MEDIA_URL}}{{x.video_img}}" onclick="location.href='{% url 'select' video_id=x.id %}'"><br>
            <a href="{% url 'select' video_id=x.id %}">{{ x.title }}</a>
        </div>
        {% endfor %}

    </div>
    <br>
    <div class="title">
        <h3><span>최근</span>영상</h3>
        
        <form action="{% url 'search'%}" method="GET">
            <input type="hidden" name="where" value="late">
            <button type="submit">더보기</button>
        </form>
    </div>
    <div class="videoList">
        {% for x in late %}
        <div class="videoInfo">
            <img src="{{MEDIA_URL}}{{x.video_img}}" onclick="location.href='{% url 'select' video_id=x.id %}'"><br>
            <a href="{% url 'select' video_id=x.id %}">{{ x.title }}</a>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div id="table">
    <div class="title">
        <h3><span>이용자</span>순위</h3>
    </div>
    <div class="title">
        <h3><span>인기채널</span>순위</h3>
    </div>
    <div class="user">
        <table>
            <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">점수</th>
                </tr>
            </thead>
            {% for x in user %}
            <tbody>
                <tr>
                    <td>{{ x.user_id__username }}</td>
                    <td>{{ x.score__sum }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="channel">
        <table>
            <thead>
                <th scope="col">이름</th>
                <th scope="col">조회수</th>
            </thead>
            {% for x in channel %}
            <tbody>
                <tr>
                    <td>{{ x.editor__username }}</td>
                    <td>{{ x.views__sum }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<div style="padding-bottom: 10%;">
    
</div>
{% endblock %}