
{% extends 'base1.html' %}

{% load static %}

{% block title %}modepage.html{% endblock %}

{% block extra-style %}
<style type="text/css">
  .title {
    color: #c80;
    font-weight: bold;
  }

  .powered {
    position: relative;
    top: 77%;
    color: #cc0;
    font-style: italic;
  }
</style>
{% endblock %}

{% block content %}
{{video_id}}
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/1.png">
        <div class="card-body">
          <button type="button" class="btn btn-success btn-lg">연습모드</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/2.png">
        <div class="card-body">
          <button type="button" class="btn btn-danger btn-lg">실전모드</button>
        </div>
      </div>
    </div>
  </div>

</div>
<hr style="margin: 100px 0;">

<div>
  <h3>이용자 순위</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 순위 </ font>
              </ font>
              </ th>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 사용자 이름 </ font>
              </ font>
              </ th>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;">
              </ font>
              </ font>
              </ th>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 제목 </ font>
              </ font>
              </ th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 기본 </ font>
              </ font>
              </ th>
        <td>
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 내용 </ font>
              </ font>
              </ td>
        <td>
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 내용 </ font>
              </ font>
              </ td>
        <td>
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 내용 </ font>
              </ font>
              </ td>
      </tr>
    </tbody>
  </table>
</div>


<div>
  <h3>다른 이용자가 올린 영상</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 순위 </ font>
              </ font>
              </ th>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 사용자 이름 </ font>
              </ font>
              </ th>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;">
              </ font>
              </ font>
              </ th>
        <th scope="col">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 제목 </ font>
              </ font>
              </ th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 기본 </ font>
              </ font>
              </ th>
        <td>
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 내용 </ font>
              </ font>
              </ td>
        <td>
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 내용 </ font>
              </ font>
              </ td>
        <td>
          <font style="vertical-align : inherit;">
            <font style="vertical-align : inherit;"> 열 내용 </ font>
              </ font>
              </ td>
      </tr>
    </tbody>
  </table>

</div>
</div>

{% endblock content %}

{% block footer %}
{% endblock %}

