{% load static %}

<head>
    <link rel ='stylesheet' type='text/css' href='{% static "mypageView.css" %}'>
    <title>마이페이지</title>
    <form>
        <input type = 'text' placeholder = "검색할 내용을 입력하세요." />
        <button type = 'button' onclick = 'alert("로그인을 눌렀습니다.")'>
            로그인
        </button>
        <button type = 'button' onclick = 'alert("회원가입을 눌렀습니다.")'>
            회원가입
        </button>
    </form>

    <style>
        #score{
            padding:10px;
            border: 2px solid black;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class = 'wrapper'>
        <div id = 's_left_top'>
            <h3>나의 점수</h3>
            <div id = 'score'>
                <h5 style="display: inline;">총 점수: </h5>
                <h5 style="display: inline;">{{ score_sum|floatformat }}</h5>
            </div>
            {% for edus_list in Edus_list %}
                <p class="date">
                video: {{edus_list.video_id}} score: {{ edus_list.score }} date: {{ edus_list.edu_days }}
                </p>
                {{ edus_list.body|truncatewords:30|linebreaks }}
            {% endfor %}
        </div>
        <div id = 's_left_bottom'>
            <h3>업로드 된 영상</h3>
            {% for edus_list in Edus_list %}
                <h2>
                <a href="{{ edus_list.get_absolute_url }}">
                    {{ edus_list.video_id }}
                </a>
                </h2>
                <p class="date">
                score: {{ edus_list.score }} date: {{ edus_list.edu_days }}
                </p>
                {{ edus_list.body|truncatewords:30|linebreaks }}
            {% endfor %}
        </div>
        <div id = 's_right'>
            <h3>영상 올리기</h3>

            <form enctype="multipart/form-data" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Upload"/>
            </form>    

        </div>
    </div>
</body>
