{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <link rel ='stylesheet' type='text/css' href='{% static "mypageView.css" %}'>
    <title>마이페이지</title>

    <style>
        #score{
            padding:10px;
            border: 2px solid black;
            text-align: left;
        }
    </style>
</head>




<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading"><span>마이</span>페이지</h1>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <div class="title">
                                    <h3><span>나의</span>점수</h3>
                                </div>
                                <div id = 'score'>
                                    <h5 style="display: inline;">총 점수: </h5>
                                    <h5 style="display: inline;">{{ score_sum|floatformat }}</h5>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>video</th>
                                            <th>score</th>
                                            <th>date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for edus_list in Edus_list %}
                                        <tr>
                                            <td>{{edus_list.video_id}}</td>
                                            <td>{{ edus_list.score }}</td>
                                            <td>{{ edus_list.edu_days }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="title">
                                    <h3><span>업로드</span>영상</h3>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>video</th>
                                            <th>score</th>
                                            <th>date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for edus_list in Edus_list %}
                                        <tr>
                                            <td><a href="{% url 'ResultVideosList' %}">
                                                {{edus_list.video_id}}
                                            </a>
                                            </td>
                                            <td>{{ edus_list.score }}</td>
                                            <td>{{ edus_list.edu_days }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="content-rightmy">
                                <div class="title">
                                    <h3><span>영상</span>올리기</h3>
                                </div>
                                <form enctype="multipart/form-data"  method="POST" action="">
                                    {% csrf_token %}
                                    title : {{form.title}}
                                </br>
                                    video : {{form.videofile}}
                                </br>
                                    image : {{form.video_img}}
                                </br>
                                    level : {{form.level}}
                                    <input type="submit" value="Upload" onclick = 'alert("업로드")'/>
                                </form>  
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #blog close -->


{% endblock %}