{% extends 'base.html' %} {% load static %} {% block content %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
        href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css"
        rel="stylesheet"
        type="text/css"
    />
    <link rel="stylesheet" type="text/css" href='{% static "playView.css" %}' />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"
    ></script>
</head>

<body>
    <br /><br />
    <div id="sec_1">
        <br /><br />
        <div id="s_left">
            <h4>따라할 영상</h4>
            <video
                id = "movie"
                src="{{ MEDIA_URL }}{{ videoName }}"
                muted="'muted"
                height="480"
                width="640"
                controls
                oncontextmenu="return false"
                type="video/mp4"
            ></video>
            <br /><br /><br />
        </div>
        <div id="s_right">
            <h4>나의 실시간 영상</h4>
            <!-- <img src="{% url 'video_feed' video_id=videoNo %}" /> -->
            <!-- 11/13 수정 -->
            <div id="container">
                <video autoplay="true" id="videoElement" height="480" width="640">
                
                </video>
            </div>
            <canvas id="canv" width="640" height="480"></canvas>
            <script>
                var a = 1
                var videooo = document.getElementById("movie");
                timer = setInterval(function () {
                    $.ajax({
                        url: "{% url 'calculatePosture' %}",
                        dataType: "Json",
                        success: function (data) {
                            $("#description").html(
                                "등급 : " +
                                    data.rank +
                                    "    " +
                                    "정확도 : " +
                                    data.accuracy
                            );
                            if(data.com_movie && a == 1){
                                videooo.play();
                                a = 2;
                            }
                            
                        },
                        error: function (request, status, error) {
                            alert("ajax 통신 실패...");
                        },
                    });
                }, 1000);
        
                // 11/13 추가

                navigator.getUserMedia({video: true}, function(stream) {
                    var video = document.getElementById("videoElement");
                    var canvas = document.getElementById("canv");

                    video.srcObject = stream;
                    video.play();

                    timer2 = setInterval(function () {
                        canvas.getContext("2d").drawImage(video, 0, 0, 640, 480);
                        var img = canvas.toDataURL("image/png");
                        $.ajax({
                            url: "{% url 'sendImg' %}",
                            dataType: "Json",
                            data: {"url" : img},
                            type: "POST",
                            success: function (data) {
                            },
                            error: function (request, status, error) {
                                alert("ajax 통신 실패...");
                            },
                        });
                    }, 1000);
                }, function(err) { alert("there was an error " + err)});

            </script>
        </div>
    </div>

    <div id="description"></div>

    <footer>
        <div id="s_bbottom">
            <div><h3>결과 리스트</h3></div>
            <br /><br />
            <div>
                <table class="table table-hover table-sm" id="user_rank">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">나의 영상</th>
                            <th class="text-center">날짜</th>
                            <th class="text-center">영상확인</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a,i,j,b,k in videoList %}
                        <tr>
                            <td>{{ b }}</td>
                            <td class="text-center">{{ k }}</td>
                            <td>
                                <button
                                    class="btn btn btn-outline-secondary"
                                    onclick="window.open('{% url 'playResultView' a %}','test','width=550,height=310,location=no,status=no,scrollbars=yes')"
                                >
                                    영상확인
                                </button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center bg-warning">
                                데이터가 없습니다.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% for page in totalPageList %}
            <a href="page={{page}}">
                [ {% ifequal page currentPage %}
                <b>
                    {% endifequal %} {{page}} {% ifequal page currentPage %}
                </b>
            </a>
            {% endifequal %} ] {% endfor %}
        </div>
    </footer>
    <meta
        http-equiv="refresh"
        content="{{videoLength}}; url=result/page={{currentPage}}"
    />
</body>
{% endblock content %}
