{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>모드 선택 후 화면</title>
    <link rel ='stylesheet' type='text/css' href='{% static "playView.css" %}'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
</head>


    <br><br>
    <br><br>
    <footer>
        <div id = 's_bottom'>
            <h4>실전 / 연습 결과</h4>
            <br><br>
            <div id = 'box'>
                <h5>점수:  {{total_zum}}</h5>
                <h5>등급:  {{total_rank}}</h5>
                <h5>정확도:  {{total_accuracy}}  </h5>
                <button class="btn btn-secondary" type = 'button' onclick="window.open('{% url 'UploadPreView' %}','test','width=550,height=310,location=no,status=no,scrollbars=yes')">
                    영상 보기
                </button>
            </div>
            <div id = 'box'>
                <form enctype="multipart/form-data"  method="POST" action="">
                    {% csrf_token %}
                    <h5>영상 설명 : </h5>
                     {{form.video_description}}
                </br>
                    <h5>공유 여부 : </h5>
                    {{form.is_shared}}
                    <h5>   </h5>
                    <input class="btn btn-secondary" type="submit" value="Upload" onclick = 'alert("업로드")'/>
                </form>
            </div>
        </div>

        <div id = 's_bbottom'>
            <div><h3>결과 리스트</h3></div>
            <br><br>
            <div>
                <table class="table table-hover table-sm" id="user_rank">
                    <thead class="thead-light">
                    <tr>
                        <th class="text-center">나의 영상</th>
                        <th class="text-center">날짜</th>
                        <th class="text-center">영상확인</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for a,i,j,b,k in videoList %}
                        <tr>
                            <td>{{ b }}</td>
                            <td class="text-center">{{ k }}</td>
                            <td><button class="btn btn btn-outline-secondary" onclick="window.open('{% url 'playResultView' a %}','test','width=550,height=310,location=no,status=no,scrollbars=yes')">영상확인</button></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center bg-warning">데이터가 없습니다.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% for page in totalPageList %}
                <a href="page={{page}}">
                [
                {% ifequal page currentPage %}
                    <b>
                {% endifequal %}
                {{page}}
                {% ifequal page currentPage %}
                    </b>
                </a>
                {% endifequal %}
                ]
            {% endfor %}
            </div>
    </footer>

</body>
{% endblock content %}