{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' href="{% static 'resultvideolist.css' %}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<section id="hero-area">
    <img class="img-responsive" src="{% static "header.png" %}">
</section>

<nav id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                <a class="navbar-brand" href="#"><img class="img-responsive" src="{% static "logo.png" %}"></a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" id="top-nav">
                                <li><a href="#hero-area">Home</a></li>
                                <li><a href="#about-us">about us</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#price">menu</a></li>
                                <li><a href="#subscribe">news</a></li>
                                <li><a href="#contact-us">contacts</a></li>
                              </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</nav>

<section>
<div class="container">
  <div><h3><span>학습 영상 결과 리스트</span></h3></div>
  <table class = "table" id="Edus_video">
    <thead class="thead-light" id="tablecol">
      <tr>
        <th width=50>영상</th>
        <th width=300>학습일</th>
        <th width=100>영상확인</th>
      </tr>
    </thead>
    <tbody>
      {% for EdusDB in EdusDB_list %}
        <tr>
          <td>{{ EdusDB.video_id }}</td>
          <td>{{ EdusDB.edu_days }}</td>
          <td><button class="btn btn-outline-secondary" onclick="window.open('{% url 'result' EdusDB.id %}','test','width=550,height=310,location=no,status=no,scrollbars=yes')">영상확인</button> </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">데이터가 없습니다.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
      {% if Edus.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ Edus.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current"> Page {{ Edus.number }} of {{ Edus.paginator.num_pages }}.
      </span>

      {% if Edus.has_next %}
        <a href="?page={{ Edus.next_page_number }}">next</a>
        <a href="?page={{ Edus.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
</section>
</body>
{% endblock %}
