{% extends 'base.html' %}
{% block content %}


    <!--
    blog start
    ============================ -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading"><span>영상</span>리스트</h1>
                        <ul>
                            {% for Video in search %}
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                    <img src="{{MEDIA_URL}}{{Video.video_img}}" width="100%" height="100%">
                                </div>
                                <div class="content-right">
                                    <h3><a href="{% url 'select' video_id=Video.id%}">{{ Video.title }}</a></h3></h3><br />
                                    <p><a href="{% url 'select' video_id=Video.id%}">난이도 : {{ Video.level }}</a></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #blog close -->


{% endblock %}
<form action="{% url 'search'%}" method="GET">
    <input type="hidden" name="q" value="{{ q }}">
    <label><input type="checkbox" name="le" value="상" /> 상 </label>
    <label><input type="checkbox" name="le" value="중" /> 중 </label>
    <label><input type="checkbox" name="le" value="하" /> 하 </label>
    <input type="submit" value="설정">
</form>