{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <!-- Js -->
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="{% static 'js / vendor / jquery - 1.10.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- CSS
        ================================================ -->
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <style>
        .container{
            height: 45%;
            margin-top: 15%;
            margin-bottom: 15%;
        }
    </style>
</head>
<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1
                        class="heading wow fadeInUp"
                        data-wow-duration="500ms"
                        data-wow-delay="300ms"
                    >
                        <span style="color:#e0c0a0; font-family:'Malgun Gothic';">Sign Up</span>
                    </h1>
                    {% if error1 %}
                    <script>alert("비밀번호 확인 불일치");</script>
                    {% endif %}
                    {% if error2 %}
                    <script>alert("중복된 아이디");</script>
                    {% endif %}
                    <form method="POST" id="authForm" action="{%url 'signup'%}">
                        {% csrf_token %}
                        <div
                            class="form-group wow fadeInDown"
                            data-wow-duration="500ms"
                            data-wow-delay="600ms"
                        >
                            <input
                                type="text"
                                class="form-control"
                                id="loginId"
                                name="username"
                                placeholder="ID"
                            />
                        </div>
                        <div
                            class="form-group wow fadeInDown"
                            data-wow-duration="500ms"
                            data-wow-delay="800ms"
                        >
                            <input
                                type="password"
                                class="form-control"
                                id="loginPw1"
                                name="password1"
                                placeholder="Password"
                            />
                        </div>
                        <div
                            class="form-group wow fadeInDown"
                            data-wow-duration="500ms"
                            data-wow-delay="800ms"
                        >
                            <input
                                type="password"
                                class="form-control"
                                id="loginPw2"
                                name="password2"
                                placeholder="Password Check"
                            />
                        </div>
                        <div
                            class="form-group wow fadeInDown"
                            data-wow-duration="500ms"
                            data-wow-delay="800ms"
                        >
                            <input
                                type="submit"
                                class="btn btn-default wow bounceIn"
                                value="sign up"
                                style="background-color: #e0c0a0; color: #fff; font-family:'Malgun Gothic';"
                            />
                        </div>
                    </form>
                </div>
            </div>
            <!-- .col-md-12 close -->
        </div>
        <!-- .row close -->
    </div>
    <!-- .container close -->
</section>
<!-- #contact-us close -->
{% endblock %}
